/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --border-rad-lg: 15px;
  --medium-light-text: #586e88;
  --light-text: #fcfcfc;
  --dark-bg: #16202c;
  --light-bg: #1f2937;
  --primary-color: #24976f;
  --secondary-color: #253b4b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #1d1c27; /* Background color */
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body,
html {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  color: #b5b5b5; /* Paragraph text color */
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav {
  background-color: #1d1c27; /* Navbar background color */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white; /* Link color */
  text-decoration: none;
}

a:hover {
  color: #b5b5b5; /* Link hover color */
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #b5b5b5; /* Link hover underline color */
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
  color: white; /* Logo hover color */
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white; /* Hamburger lines color */
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1d1c27; /* Menu background color */
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white; /* Menu link color */
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */
section {
  background-color: #1d1c27; /* Section background color */
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: flex-start; /* Update this line */
  gap: 5rem;
  height: 100vh; /* Update this line */
  padding: 2rem; /* Add some padding */
}

.section__pic-container {
  display: flex;
  height: 600px; /* Update this line */
  width: 600px; /* Update this line */
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: left; /* Update this line */
  font-size: 2rem; /* Update this line */
}

.section__text p {
  font-weight: 600;
  font-size: 1.5rem; /* Update thisline */
}

.title {
  font-size: 4rem; /* Update this line */
  color: white; /* Title color */
  text-align: left; /* Update this line */
}

#socials-container {
  display: flex;
  justify-content: left; /* Update this line */
  margin-top: 2rem;
  gap: 2rem;
  color: white; /* Socials color */
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
  color: white; /* Default icon color */
}

/* BUTTONS */
/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: 1px solid #fff; /* Default border color */
  color: #fff; /* Default text color */
  background-color: transparent; /* Default background color */
}

.btn-color-1:hover {
  background: #000; /* Button hover background color */
}

.btn-color-2 {
  border: 1px solid #fff; /* Border color for btn-color-2 */
}

.btn-color-2:hover {
  background: #212121; /* Button hover background color */
  border-color: #fff; /* Border color on hover */
}

/* ABOUT SECTION */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  border-color: #a3a3a3;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #1d1c27; /* Details background color */
  border-radius: 2rem;
  border: #a3a3a3 0.1rem solid;
  color: white; /* Details text color */
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
}

.experience-sub-title {
  color: #b5b5b5; /* Subtitle color */
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  color: white; /* Icon color */
}

/* PROJECTS SECTION */
#projects {
  position: relative;
}

.color-container {
  border-color: #a3a3a3;
  background: #fafafa; /* Background color */
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: #000; /* Project title color */
}

.project-btn {
  color: #000; /* Project button text color */
  border-color: #a3a3a3;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: #a3a3a3 0.1rem solid;
  background: #fafafa; /* Background color */
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  color: #000; /* Contact info color */
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem;
}

.footer-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  color: white; /* Footer icons color */
}

hr {
  margin: 2rem auto;
  width: 90%;
}

.copyright {
  text-align: center;
  color: white; /* Copyright text color */
  font-size: 0.75rem;
}

.font-family {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.page-container {
  padding: 5rem 6rem;
}

.button {
  font-size: 18px;
  height: 50px;
  min-width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #4338ca;
  color: #dbdbdb;
  cursor: pointer;
}

.rounded {
  border-radius: 55px;
}

.links a {
  font-family: "Monaco", monospace;
  opacity: 0.5;
}

.links a:hover {
  opacity: 0.8;
}

.button:hover {
  background-color: #544ad4;
  color: white;
}

.subtitle {
  margin-top: 0.3rem !important;
}

@media screen and (max-width: 900px) {
  h2 {
    font-size: 2rem;
  }

  .page-container {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  .page-container {
    padding: 2rem 2rem;
  }
}
